*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --major:#5A83A3;
    --bgg : rgb(4 5 6 / 0.95);
    --white : #ffffff;
}
.home{
    width: 100%;
    position: relative;
}

.mainDiv {
    width: 100%;
}
/* side bar */

aside{
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgb(255 255 255 / 0.05);
    width: 5rem;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--background);
    transition: .4s all ease-in-out;
    z-index: 999;
    left:0;
    top:0;
}
aside:hover{
    width: 14rem;
    transition: .4s all ease-in-out;
}
aside:hover .logo {
    margin-left: 3rem;
    transition: .4s all ease-in-out;
}

.logo{
    transition: .4s all ease-in-out;
}

.main-nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.user-nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
button:hover {
    color: var(--white);
    border: 1px solid var(--white);
    transition: .4s all ease-in-out;
}


/* button */

aside  button{
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    color: var(--major);
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 2rem;
    transition: .4s all ease-in-out;
    font-weight: 600;
    background-color: var(--bgg);
}


/* Big Movie Container */
.bigMovieContainer {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 5rem;
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out; /* Transition for slide and fade */
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%);
  }
  
  .bigMovieContainer img {
    width: 100%;
    aspect-ratio: 16/9;
    filter: brightness(0.8);
  }
  
  .bigMovieContainer section {
    position: absolute;
    padding: 4vw;
    max-width: 32rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  /* Movie Details */
  .movieName h1 {
    text-transform: uppercase;
    font-size: clamp(2.5rem, 5.5vw, 5rem);
  }
  
  .movieDesc {
    font-size: clamp(0.5rem, 2vw, 1.25rem);
  }
  
  .premieres {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .tonight {
    padding: 0.5rem 0.75rem;
    background-color: var(--background);
    color: var(--major);
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    opacity: 0.5;
    font-size: 0.75rem;
    font-weight: 900;
  }
  
  p {
    color: var(--white);
  }
  
  .movieDesc {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    font-weight: 500;
  }
  
  /* Buttons */
  #friendWatch,
  #soloPlay {
    padding: 1rem 1.5rem;
    background-color: var(--major);
    color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 600;
  }
  
  #soloPlay {
    background-color: #505455;
  }
  
  /* Watch Buttons */
  .watchButtons {
    display: flex;
    gap: 1rem;
  }
  
  h1 {
    font-size: 4.25rem;
  }


/* TrendingMovies */



.trendingMovies{
    padding: 1.5rem 2rem;
    color: var(--white);
    padding: 5rem 10rem;
    background-color: #06090B;
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.trends{
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-bottom: 0.5rem;
}

.homeMovieContainer{
    width: 17rem;
    height: 22rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.homeMovieContainer img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: .4s all ease-in-out;
}

.homeMovieContainer img:hover {
    transform: scale(1.08);
    transition: .4s all ease-in-out;
}

.trending{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 1rem;
    padding: .5rem;
    gap: 1rem;
}

.trending h5{
    padding: 1rem;
}

h5{
    font-size: 1.1rem;
}


/* loading */

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
