input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #4f46e5;
    cursor: pointer;
    margin-top: -5px;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #4f46e5;
    cursor: pointer;
  }
  